.git
.gitignore
.venv/
.vscode/
.idea/
.DS_Store

notebooks/
outputs/
data/

src/app.py
src/app_helpers.py
src/train.py
src/__init__.py
src/__pycache__/

artifacts/shap_values.npy
artifacts/patient_shap_example.npy
artifacts/model_comparison.csv

main.py
README.md
uv.lock
pyproject.toml
task-definition.json

__pycache__/
*.pyc
*.pyo
*.log
